<div class="container no-bottom">
    <div class="quote-item">
        <h3 class="center-text">Podrška</h3>
        <img src="images/zeks.jpg" alt="img">
        <h4>Željko Bajšanski, dipl. inž.</h4>
        <em>Software developer</em>
        <!--<strong>We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>-->
        <div class="sliding-door">
            <div class="sliding-door-top">
                <a href="#"><em></em>
                    Telefon
                </a>
            </div>
            <div class="sliding-door-bottom">
                <a href="tel:+38163528065"><em></em>
                    <strong>+381 63 528 065</strong>
                </a>
            </div>
        </div>
        <div class="sliding-door">
            <div class="sliding-door-top">
                <a href="#"><em></em>
                    E-mail
                </a>
            </div>
            <div class="sliding-door-bottom">
                <a href="mailto:zeljko.bajsanski@gmail.com"><em></em>
                    <strong style="text-transform: lowercase">zeljko.bajsanski@gmail.com</strong>
                </a>
            </div>
        </div>
    </div>
</div>
