<div class="all-elements">
    <!-- Page sidebar -->
    <!--<div id="sidebar" class="page-sidebar">
            <div class="page-sidebar-scroll"></div>
        </div>-->
    <!-- /. Page sidebar -->
    <div class="page-content" id="content">
        <div class="content-controls solid-color fixed-header">
            <a href="#" class="deploy-home"></a>
            <em class="content-title">AVR Mobile</em>
            <a href="#about" class="deploy-info"></a>
        </div>
        <div class="fixed-header-clear"></div> 
        <div data-bind="router: { transition: 'entrance' }"></div>
    </div>
</div>

